$brk-xhuge: 1680px;
$brk-mhuge: 1480px;
$brk-huge: 1320px;
$brk-xlarge: 1136px;
$brk-mlarge: 1012px;
$brk-large: 840px;
$brk-medium: 632px;
$brk-small: 420px;

$primary-color-dark: rgb(100, 22, 81);
$primary-color-light: rgb(241, 202, 246);
$primary-color-press: rgb(236, 186, 243);

$ui-color-light: rgb(228, 228, 228);
$ui-color-block: rgb(240, 240, 240);
$ui-color-input: rgb(236, 236, 236);
$ui-color-text: rgb(60, 60, 60);
$ui-color-dark: rgb(42, 42, 42);
$ui-color-block-border: rgba($ui-color-text, 0.2);
$ui-color-lighter: rgb(248, 248, 248);

$banner-title-color: rgb(255, 255, 255);

$sidebar-background-color: rgb(126, 95, 128);
$sidebar-text-color: rgb(255, 255, 255);

$footer-background-color: rgb(66, 66, 77);

$table-hover-color: rgb(222, 232, 243);
$category-bg-color: rgb(235, 241, 250);
$category-color: rgb(50, 94, 160);
$category-hover-color: rgb(200, 209, 214);

$button-primary-color: rgb(163, 70, 170);
$button-function-color: rgb(25, 139, 246);

$rating-sweet-color: rgb(255, 169, 169);
$rating-cool-color: rgb(141, 190, 255);
$rating-recommend-color: rgb(149, 199, 130);

$like-color: rgb(221, 101, 101);
$dislike-color: rgb(101, 103, 221);

$dropdown-color1: rgb(161, 213, 255);
$dropdown-text-color1: rgb(25, 60, 88);
$option-hover-color: rgb(212, 212, 212);
$submit-color: rgb(105, 177, 69);
$save-color: rgb(74, 160, 230);

// fonts
$ui-text-font: "Maven Pro", "Quicksand", "Noto Sans TC", sans-serif;
$brand-font: "Exo 2", "Maven Pro", sans-serif;
$banner-title-font: "Exo 2", "Maven Pro", sans-serif;

$profile-image-width: 30px;
$page-width: 1600px;
$thin-page-width: 1200px;
$menu-width: 200px;
// $home-image-width: $page-width * 0.3;
