.courses,
.posts {
  display: flex;
  flex-flow: row-reverse;

  @include brk-down($brk-large) {
    flex-flow: column-reverse;
  }

  main {
    margin-left: 4%;
    min-height: 80vh;

    flex: 3 1 600px;

    @include brk-down($brk-large) {
      flex: 3 1;
    }

    display: flex;
    flex-flow: column;

    .searchBox {
      position: relative;
      margin-bottom: 1rem;
    }

    input[type="text"] {
      width: 100%;
      padding: 0.6rem 1rem 0.6rem 3rem;
      background-color: $ui-color-block;
      border: 1px solid $ui-color-block-border;
      border-radius: 5px;
      color: $ui-color-text;
    }

    .searchIcon {
      position: absolute;
      left: 0.9rem;
      top: 0.6rem;

      @include icon(rgba(0, 0, 0, 0.5), 1.5rem);
    }
  }

  .listing {
    background-color: $ui-color-block;
    flex: 1 1 80%;
    padding-bottom: 1rem;
    min-height: 0;

    border-radius: 10px;
    border: 1px solid $ui-color-block-border;

    // overflow: auto;
  }

  aside {
    flex: 1 0 200px;

    @include brk-down($brk-large) {
      flex: 1 0;
      max-height: 15rem;
    }

    min-width: 250px;
    max-height: 32rem;
  }
}

.courses main {
  @include brk-down($brk-large) {
    margin: 2rem 0 0;
  }

  .listing {
    .listHead,
    .listBody .rowItem {
      grid-template-columns: 1.8fr 2.5fr repeat(3, 1.4fr) 1.6fr;
    }

    @include brk-down($brk-xlarge) {
      .cell:first-of-type {
        display: none;
      }

      .listHead,
      .listBody .rowItem {
        grid-template-columns: 4fr repeat(3, 1.4fr) 1.8fr;
      }
    }

    @include brk-down($brk-medium) {
      .cell:nth-of-type(3),
      .cell:nth-of-type(4) {
        display: none;
      }

      .listHead,
      .listBody .rowItem {
        grid-template-columns: 3.2fr 1.4fr 1.8fr;
      }
    }

    @include brk-down($brk-small) {
      .cell:nth-of-type(5) {
        display: none;
      }

      .listHead,
      .listBody .rowItem {
        grid-template-columns: 3.2fr 1.6fr;
      }

      .cell.courseName,
      .cell.rating {
        font-size: 1.1rem;
      }
    }
  }
}
