.courses,
.posts {
  display: flex;
  flex-flow: row-reverse;

  @include brk-down($brk-large) {
    flex-flow: column-reverse;
  }

  main {
    margin-left: 4%;

    flex: 3 1 600px;

    display: flex;
    flex-flow: column;

    .searchBox {
      position: relative;
      margin-bottom: 1rem;
    }

    input[type="text"] {
      width: 100%;
      padding: 0.7rem 1rem 0.7rem 3rem;
      font-size: 1.2rem;
      background-color: $ui-color-block;
      border: 1px solid $ui-color-block-border;
      border-radius: 5px;
      color: $ui-color-text;
    }

    .searchIcon {
      position: absolute;
      left: 0.9rem;
      top: 0.8rem;

      @include icon(rgba(0, 0, 0, 0.5), 1.5rem);
    }

    .pagination {
      button {
        @include brk-down($brk-medium) {
          &:nth-of-type(n + 7):not(:last-of-type),
          &:nth-last-of-type(n + 7):not(:first-of-type) {
            display: none;
          }

          &:nth-of-type(n + 2) {
            margin-left: 0.6rem;
          }
        }

        @include brk-down($brk-xsmall) {
          &:not(:first-of-type):not(:last-of-type) {
            display: none;
          }
        }
      }
    }
  }

  .listing {
    background-color: $ui-color-block;
    flex: 1 1 80%;
    padding-bottom: 1rem;
    margin-bottom: 1.4rem;

    border-radius: 10px;
    border: 1px solid $ui-color-block-border;

    overflow: auto;
  }

  aside {
    flex: 1 0 200px;
    min-width: 250px;
    max-height: 32rem;
  }
}

.courses main {
  @include brk-down($brk-xlarge) {
    col:first-of-type,
    th:first-of-type,
    td:first-of-type {
      display: none;
    }

    col.primary {
      width: 40%;
    }
  }

  @include brk-down($brk-large) {
    margin: 2rem 0 0;
  }

  @include brk-down($brk-medium) {
    col:nth-of-type(3),
    th:nth-of-type(3),
    th:nth-of-type(4),
    td:nth-of-type(3),
    td:nth-of-type(4) {
      display: none;
    }

    col.primary {
      width: 50%;
    }
  }

  @include brk-down($brk-small) {
    col:nth-of-type(4),
    th:nth-of-type(5),
    td:nth-of-type(5) {
      display: none;
    }
    col.primary {
      width: 65%;
    }
    td.courseName,
    td.rating {
      font-size: 1.1rem;
    }
  }
}

.posts main {
  @include brk-down($brk-xlarge) {
    col:last-of-type,
    th:last-of-type,
    td:last-of-type {
      display: none;
    }

    col.primary {
      width: 30%;
    }
  }

  @include brk-down($brk-large) {
    margin: 2rem 0 0;
  }

  @include brk-down($brk-medium) {
    col:nth-of-type(4),
    th:nth-of-type(4),
    td:nth-of-type(4) {
      display: none;
    }

    col.primary {
      width: 40%;
    }
  }

  @include brk-down($brk-small) {
    col:nth-of-type(2),
    th:nth-of-type(2),
    td:nth-of-type(2) {
      display: none;
    }
    col.primary {
      width: 50%;
    }
    td.courseName,
    td.postTitle {
      font-size: 1.1rem;
    }
  }
  /*}*/
}
