.home main {
  max-width: $page-width;
  margin: 0 auto 4rem;
  text-align: center;
  color: $ui-color-dark;

  h2 {
    font-size: 2.2rem;
    margin-top: 4rem;
  }

  .goal {
    margin: 1rem 15rem;
    display: flex;
    justify-content: center;

    @include brk-down($brk-huge) {
      margin: 1rem 2rem;
    }

    @include brk-down($brk-large) {
      flex-flow: column;
    }

    div {
      padding: 1.8rem;
      background-clip: content-box;
      background-color: rgb(152, 204, 255);
      border-radius: 50%;
      margin-left: 1rem;

      flex: 0 0 25%;

      @include brk-down($brk-large) {
        margin: 0;
        padding: 0;
        align-self: center;
        flex: 1 0 40vw;
        width: 40vw;
      }

      @include brk-up($brk-large) {
        &:after {
          content: "";
          float: left;
          padding-bottom: 100%;
        }
      }

      img {
        width: 100%;
      }
    }

    p {
      font-size: 1.6rem;
      margin-left: 3rem;
      flex: 1 0 60%;
      align-self: center;

      @include brk-down($brk-large) {
        margin: 2rem 3rem 3rem;
      }
    }

    &:nth-of-type(2) {
      div {
        background-color: rgb(255, 218, 169);
      }
    }
  }
}
