.menu {
  background-color: $sidebar-background-color;
  flex: 1 0 $menu-width;
  overflow: auto;

  @include brk-down($brk-xlarge) {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 600;

    li {
      border-bottom: 1px solid rgba($sidebar-text-color, 0.6);
      color: rgba($sidebar-text-color, 0.9);

      &:first-of-type {
        font-size: 1.3rem;
        padding: 1rem 0 1rem 2rem;
        border-bottom: 1px dashed rgba($sidebar-text-color, 0.4);
        position: relative;

        .fas {
          margin-right: 0.6rem;
        }
      }

      &:nth-of-type(n + 2) a {
        display: block;
        padding: 1rem 0 1rem 2rem;
        text-decoration: none;
        color: inherit;

        transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);

        &:hover {
          background-color: $primary-color-light;
          color: rgba($primary-color-dark, 0.8);
        }
      }
    }
  }
}
