%optionBlock {
  line-height: 2.2;
  padding: 0;
  display: block;
  width: 100%;

  color: $ui-color-text;
  background-color: $ui-color-block;
  font-size: 1.3rem;

  border: none;
  outline: none;

  &:hover {
    background-color: $option-hover-color;
  }
}

.dropdown {
  position: relative;

  .dropdownBtn {
    @include button-mixin($dropdown-color1);
    padding: 0 1rem;
    width: 100%;
    color: $dropdown-text-color1;
    cursor: pointer;
  }

  .drpOptions {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    max-height: 15rem;
    overflow: auto;

    &.active {
      display: block;
    }
  }

  .option {
    @extend %optionBlock;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 0.6rem;

    &:last-of-type {
      padding-bottom: 0.2rem;
    }

    .secondary {
      font-size: 1.1rem;
      margin-left: 1rem;
    }
  }
}
