#loginPopup {
  color: $ui-color-text;

  .popupWindow {
    min-width: 20vw;
  }

  .loginContent {
    margin-top: 1rem;
  }

  .btnGroup {
    display: flex;
  }

  a {
    flex: 1;
    text-align: center;

    @include button-mixin($ui-color-lighter, $ui-color-block-border);
    padding: 0 1rem;
    margin-top: 2rem;
    color: $ui-color-text;

    .fab {
      color: $h2-color;
      margin-right: 0.5rem;
    }
  }
}
