header {
  background-color: $primary-color-light;

  nav {
    font-size: 1.1rem;
    max-width: $page-width;
    margin: 0 auto;

    ul {
      list-style-type: none;
      padding: 0.8rem 0;
      margin: 0;
      margin-left: 2rem;
      margin-right: 1rem;

      display: flex;
      align-items: baseline;
      position: relative;

      @include brk-down($brk-large) {
        margin-left: 1.2rem;
      }

      li {
        display: inline;
        margin-right: 1.3rem;

        &:last-of-type {
          display: none;
        }

        @include brk-down($brk-large) {
          &:nth-of-type(n + 2) {
            display: none;
          }

          &:last-of-type {
            margin-left: auto;
            display: inline-block;
            position: absolute;
            margin-right: 0;
            right: 0;
            top: 10px;
          }
        }

        &.brand {
          font: italic 600 1.4rem $brand-font;
          margin-right: 2rem;

          a {
            color: $primary-color-dark;
          }
        }

        &.active a {
          color: $primary-color-dark;
        }

        &.primary {
          font-size: 1.2rem;
        }

        // for the space between primary and non-primary li
        &:nth-of-type(3) {
          margin-right: 1.6rem;
        }

        &.rightItem {
          margin: 0 0 0 auto;
          padding-right: 4rem;
          position: relative;

          img {
            display: inline-block;
            position: absolute;
            right: 1.5rem;
            top: -5px;

            width: $profile-image-width;
            height: $profile-image-width;
            object-fit: cover;

            background-color: rgba($primary-color-dark, 0.6);
            border-radius: 50%;
            border: 1px solid rgba($ui-color-text, 0.4);
          }
        }
      }

      a {
        display: inline-block;
        text-decoration: none;
        color: rgba($primary-color-dark, 0.6);

        &:hover {
          color: $primary-color-dark;
        }
      }

      .btnToggle {
        @include button-mixin(
          $primary-color-light,
          rgba($primary-color-dark, 0.3),
          $pressed-color: $primary-color-press
        );
        padding: 0.4rem 1rem;
        font-size: 1.2rem;
        line-height: 1;
      }
    }

    @include brk-down($brk-large) {
      ul.expanded {
        flex-flow: column;

        .brand {
          margin-bottom: 0.5rem;
        }

        li.link {
          display: block;
          padding: 0.5rem 0 0.5rem 1rem;
          margin: 0 auto 0 0;
        }

        li.rightItem {
          padding-right: 4rem;

          img {
            right: 1.2rem;
            top: 3px;
          }
        }
      }
    }

    @include brk-down($brk-small) {
      ul.expanded li.link {
        padding-left: 0.5rem;
      }
    }
  }
}
