.popupContent {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(black, 0.6);
  padding: 4rem 3rem;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popupWindow {
    background-color: $ui-color-block;
    border-radius: 10px;
    padding: 1.4rem 2rem;
    overflow: auto;
    max-height: 50vh;
    max-width: 40rem;

    h3 {
      display: flex;
      font-size: 1.8rem;
      margin: 0;
      padding-bottom: 0.5rem;

      border-bottom: 1px solid rgba($ui-color-text, 0.5);

      .fas {
        margin-left: auto;
        color: rgba($ui-color-text, 0.6);
        cursor: pointer;
      }
    }

    > div {
      padding: 0.8rem 0 0.6rem;
      font-size: 1.2rem;
    }
  }
}
