.main .publishContent {
  @include brk-down($brk-medium) {
    padding: 2rem 1.8rem 2rem 1.6rem;
  }

  .ratingSection {
    h2 {
      .tooltip {
        display: inline-block;
      }

      .fas {
        margin: 0 0.6rem 0 0.5rem;
        color: $category-color;
      }

      .tooltipBalloon {
        top: -2px;
        left: 100%;
        white-space: nowrap;
      }
    }

    .ratingWrapper {
      display: flex;

      @include brk-down($brk-large) {
        flex-flow: column;
      }

      .item {
        display: flex;
        align-items: center;
        min-width: 0;
        flex: 1 1 30%;

        .fas {
          margin-right: 0.5rem;
        }

        &:not(:last-of-type) {
          margin-right: 2rem;

          @include brk-down($brk-large) {
            margin: 0 0 1.4rem 0;
          }
        }

        h3 {
          margin: 0;
          padding: 0 1rem;
          font-size: 1.3rem;
          font-weight: 400;
        }

        input {
          min-width: 0;
          flex: 1 1 50%;
        }
      }
    }
  }

  .detailedSection {
    .detailedWrapper {
      display: grid;
      grid-auto-rows: auto;
      row-gap: 1.5rem;

      .item {
        display: flex;
        flex-flow: column;
      }

      h3 {
        margin: 0 0 0.7rem;
        font-size: 1.4rem;
        font-weight: 400;

        .fas {
          margin-right: 0.5rem;
        }
      }

      textarea {
        margin-left: 1rem;
      }
    }
  }

  .gradeSection {
    .gradeWrapper {
      display: flex;

      @include brk-down($brk-large) {
        flex-flow: column;
      }

      h3 {
        margin: 0 0 1rem;
        font-size: 1.3rem;
        font-weight: 400;

        .fas {
          margin-right: 0.5rem;
        }
      }

      .personal {
        flex: 1 1 200px;

        @include brk-down($brk-large) {
          flex: 1 0 auto;
          margin-bottom: 2rem;
        }

        @include brk-down($brk-medium) {
          .dropdownBtn {
            font-size: 1.3rem;
          }

          .option {
            font-size: 1.1rem;
          }
        }
      }

      .total {
        margin-left: 3rem;
        flex: 3 1 600px;

        @include brk-down($brk-mlarge) {
          margin-left: 1.2rem;
        }

        @include brk-down($brk-large) {
          flex: 1 0 auto;
          margin-left: 0;
        }

        .classGrading {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(4, auto);
          gap: 1.5rem 1rem;
          align-items: center;

          @include brk-down($brk-medium) {
            gap: 0.8rem 0.4rem;
          }

          @include brk-down($brk-small) {
            display: flex;
            flex-flow: column;
            gap: 0;
            align-items: stretch;
          }

          .item {
            display: flex;
            align-items: center;
            min-width: 0;
            padding-right: 1.5rem;
            border-right: 1px solid $ui-color-block-border;

            @include brk-down($brk-medium) {
              padding: 0;
              border-right: none;
            }

            @include brk-down($brk-small) {
              &:nth-of-type(n + 2) {
                margin-top: 0.8rem;
              }
            }

            div {
              font-size: 1.3rem;
              font-weight: 600;
              flex: 0 0 4rem;
              padding-right: 1rem;
              text-align: right;

              @include brk-down($brk-medium) {
                flex: 0 1 4rem;
                padding: 0 1rem 0 0;
              }

              @include brk-down($brk-small) {
                text-align: left;
                padding: 0 0 0 0.8rem;
              }
            }

            input {
              min-width: 0;
              font-size: 1.2rem;
              line-height: 1.4;

              @include brk-down($brk-small) {
                flex: 1 1 40%;
              }
            }

            &:nth-of-type(3n),
            &:last-of-type {
              border-right: none;
            }
          }
        }
      }
    }
  }

  .submitSection {
    justify-content: end;

    @include brk-down($brk-medium) {
      align-items: stretch;
      margin-left: 0.2rem;
    }

    button {
      cursor: pointer;

      &:first-of-type {
        @include button-mixin($save-color);
        margin-right: 2rem;
        padding: 0 2rem;

        @include brk-down($brk-medium) {
          margin: 0 0 1rem 0;
        }
      }

      &:last-of-type {
        @include button-mixin($submit-color);
        padding: 0 2rem;
      }

      .fas {
        margin-right: 0.4rem;
      }
    }
  }
}
