.postArticle {
  .reviewSection,
  .otherSection {
    div {
      margin-top: 1.2rem;
      padding-left: 3rem;
      padding-right: 10rem;
      font-size: 1.2rem;
      line-height: 1.5;

      @include brk-down($brk-mlarge) {
        padding-right: 3rem;
      }

      @include brk-down($brk-medium) {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
      }

      p {
        margin: 1rem 0;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .reviewSection div {
    font-size: 1.3rem;
  }
}
