.tooltip {
  position: relative;
  cursor: pointer;

  .tooltipBalloon {
    position: absolute;
    display: none;

    background-color: rgba($ui-color-dark, 0.9);
    color: $ui-color-lighter;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;

    font-size: 1.2rem;
  }

  &:hover .tooltipBalloon {
    display: block;
  }
}
