%row {
  font-size: 1.3rem;
  cursor: pointer;
  padding: 1rem 0;

  &:hover {
    background-color: $table-hover-color;
  }
}

.userPage {
  .savedDrafts,
  .myPosts {
    margin-top: 3rem;

    .draftList,
    .postsList {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr 5rem;

      background-color: $ui-color-block;
      border: 1px solid $ui-color-block-border;
      border-radius: 10px;
      padding: 1rem;

      .delete {
        font-size: 1.4rem;
        place-self: center center;
        cursor: pointer;
        color: rgba($ui-color-text, 0.7);

        &:hover {
          color: $like-color;
        }
      }

      > div {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 5rem;
        grid-column: span 4;

        font-size: 1.4rem;
        text-align: center;
        padding: 0.5rem 0;

        &:first-of-type {
          font-weight: 600;
        }

        &:not(:last-of-type) {
          border-bottom: 1px solid $ui-color-block-border;
        }

        &:last-of-type {
          padding-bottom: 0.8rem;
        }

        span:first-of-type {
          flex: 2;
        }

        span:nth-of-type(2) {
          flex: 2;
        }

        time {
          flex: 1;

          @include brk-down($brk-mlarge) {
            display: none;
          }
        }

        span:nth-of-type(3) {
          flex: 1;
        }
      }

      .draftRow {
        grid-column: span 3;
        grid-template-columns: 2fr 2fr 1fr;

        @extend %row;
      }
    }

    .postsList {
      grid-template-columns: 2fr 2fr 1fr 1fr 5rem;

      > div {
        grid-template-columns: 2fr 2fr 1fr 1fr 5rem;
        grid-column: span 5;
      }

      .postRow {
        grid-template-columns: 2fr 2fr 1fr 1fr;
        grid-column: span 4;

        @extend %row;
      }
    }
  }
}
