$primary-color-dark: rgb(100, 22, 81);
$primary-color-light: rgb(241, 202, 246);

$ui-color-light: rgb(228, 228, 228);
$ui-color-block: rgb(240, 240, 240);
$ui-color-text: rgb(60, 60, 60);
$ui-color-dark: rgb(42, 42, 42);

$sidebar-background-color: rgb(126, 95, 128);
$sidebar-text-color: rgb(255, 255, 255);

$footer-background-color: rgb(66, 66, 77);

$table-hover-color: rgb(222, 232, 243);
