.courseInfo main .basicInfo {
  display: grid;
  grid-template-rows: 4rem 1fr;
  grid-template-columns: 2rem 1fr 2fr 2rem;

  h3 {
    grid-column: 1 / 4;
  }

  .infoWrapper {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);

    @include brk-down($brk-mhuge) {
      grid-template-columns: 1fr 2.7fr;
    }

    @include brk-down($brk-mlarge) {
      grid-template-columns: 1fr 5fr;
    }

    @include brk-down($brk-large) {
      grid-template-columns: 1fr 2.7fr;
    }

    .item,
    .content {
      font-size: 1.2rem;
      place-self: center stretch;
    }

    .item {
      line-height: 1.5;
      text-align: right;
      padding-right: 2rem;
      border-right: 1px solid $ui-color-block-border;

      @include brk-between($brk-xhuge, $brk-xlarge) {
        padding-right: 1rem;
      }
    }

    .content {
      padding-left: 2rem;

      @include brk-between($brk-xhuge, $brk-xlarge) {
        padding-left: 1rem;
      }
    }
  }
}
