.courses aside,
.posts aside {
  background-color: $category-bg-color;
  border: 1px solid rgba($ui-color-text, 0.2);
  border-radius: 10px;
  overflow: auto;

  table {
    font-size: 1rem;
    width: 90%;

    col {
      &.check {
        width: 6%;
      }
    }

    td {
      padding: 0.6rem 0;

      &:first-of-type {
        padding: 0 0 0 0.5rem;

        svg {
          display: none;

          &.checked {
            display: inline;
          }
        }

        .svg-icon {
          margin-bottom: -0.35rem;
          @include icon($category-color, 1.5rem);
        }
      }
    }

    tbody tr:hover {
      background-color: rgba($category-hover-color, 0.5);
    }
  }
}
