.postArticle .gradeSection {
  .gradeWrapper {
    @extend %post-section;

    .classGrading {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 2rem);
      row-gap: 0.4rem;
      align-items: center;
      grid-auto-flow: column dense;

      .item {
        display: flex;
        padding: 0;

        div {
          padding: 0;
        }

        div:nth-of-type(1) {
          flex: 0 0 3.2rem;
          font-weight: 600;
          border-right: 1px solid rgba($ui-color-text, 0.4);
        }

        div:nth-of-type(2) {
          flex: 1;
          padding: 0 1rem;
        }
      }
    }
  }
}
