@use 'sass:color';

.courseInfo main .ratingBlock {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 0.8fr repeat(3, 1fr);

  button {
    margin: auto 3rem auto auto;
    @include button-functional-mixin;
    grid-column: 2 / 4;

    .svg-icon {
      top: 6px;
    }
  }

  .item,
  .content,
  .rateScore {
    place-self: center stretch;
    font-size: 1.4rem;
  }

  .item {
    padding-right: 2rem;
    border-right: 1px solid $ui-color-block-border;
    text-align: right;
    font-weight: 600;
    line-height: 1.8;
  }

  .content {
    padding: 1px 0 0 2rem;

    &.sweet .svg-icon {
      @include icon($rating-sweet-color, 3rem);
      transform: rotateY(180deg);
    }

    &.cool .svg-icon {
      @include icon($rating-cool-color, 3rem);
      transform: rotateY(180deg);
    }

    &.recommend .svg-icon {
      @include icon($rating-recommend-color, 3rem);
      transform: rotateY(180deg);
    }
  }

  .rateScore {
    padding-left: 1rem;
    font-weight: 600;

    &.sweet {
      color: color.scale(
        $color: $rating-sweet-color,
        $saturation: -40%,
        $lightness: -50%
      );
    }

    &.cool {
      color: color.scale(
        $color: $rating-cool-color,
        $saturation: -40%,
        $lightness: -50%
      );
    }

    &.recommend {
      color: color.scale(
        $color: $rating-recommend-color,
        $saturation: -40%,
        $lightness: -50%
      );
    }
  }
}
