section.main {
  display: flex;
  flex-flow: row-reverse;
  min-height: 100vh;

  > section {
    background-color: $ui-color-light;
    padding: 3rem 5rem;

    flex: 6 1 1000px;

    @include brk-down($brk-huge) {
      padding: 3rem 2rem;
    }

    @include brk-down($brk-xlarge) {
      padding: 2rem;
    }

    @include brk-down($brk-medium) {
      padding: 2rem 0.5rem;
    }
  }
}
