.postsListing section.main {
  display: flex;
  flex-flow: row-reverse;
  min-height: 100vh;
}

.posts .listing {
  td:last-of-type span {
    position: relative;

    .likeIcon {
      position: absolute;
      right: -18px;
      top: 3px;
    }
  }
}
